
 <!-- Footer Start -->
 <div class="container-fluid footer py-4" appBgColorBlueguindiko>
  <!-- <div class="container py-5"> -->
      <div class="row g-4">
          <div class="col-lg-6 col-xl-3">
              <div class="footer-item-1 ml-xl-6">
                  <div  id="logofooter">
                    <img src="assets\header-footer\logofooter.png" alt="">
                  </div>
                  <div class="d-flex line-h mt-4" id="iconecocialfooter">
                    <a class="btn btn-light me-2 btn-md-square rounded-circle" href="" appBgColorOrangeguindiko ><i class="fab fa-facebook-f text-dark text-white"></i></a>
                    <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""appBgColorOrangeguindiko ><i class="fab fa-instagram text-white"></i></a>
                    <a class="btn btn-light btn-md-square rounded-circle me-2" href=""appBgColorOrangeguindiko ><i class="fab fa-linkedin-in text-dark text-white"></i></a>
                      <a class="btn btn-light me-2 btn-md-square rounded-circle" href=""appBgColorOrangeguindiko ><i class="fab fa-twitter text-dark text-white"></i></a>
                  </div>
                  <p class="text-white mt-1 ">  <i class="fa-solid fa-location-dot me-2" style="color :white"></i>Dakar Sacré coeur</p>
                  <p class="text-white "> <i class="fa fa-phone-alt  me-2" style="color :white"></i>+221 33 123 45 78</p>
                  <p class="text-white ">  <i class="fa fa-envelope  me-2" style="color :white"></i>guindikogmail.com</p>

              </div>
          </div>
          <div class="col-lg-6 col-xl-3">
              <div class="d-flex flex-column text-start footer-item-3" id="footernavigate">
                  <h4 class="mb-4 text-white  mb-5">S'informer</h4>
                  <a [routerLink]="['/accueil']" class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> Accueil</a>
                  <a [routerLink]="['/a-propos']" class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> A propos</a>
                  <a [routerLink]="['/contact']" class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> Contact</a>
                  <a [routerLink]="['/politique-de-Confidentialite']" class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> Politique de Confidentialité</a>
              </div>
          </div>
          <div class="col-lg-6 col-xl-3">
              <div class="d-flex flex-column text-start footer-item-3" id="footernavigate">
                  <h4 class="mb-4 text-white mb-5">Nos pages</h4>
                  <a [routerLink]="['/service']" class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> Services</a>
                  <a [routerLink]="['/articles']" class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> Articles</a>
                  <a [routerLink]="['/mentor']"class="btn-link text-white text-decoration-none" href=""><i class="fas fa-angle-right text-white me-2"></i> Mentor</a>
              </div>
          </div>
          <div class="col-md-12 col-lg-3  text-white" id="email">
            <h4>Rester informer</h4>
              <form >
                <div class="col-md-10 mb-2">
                  <label for="mail" class="form-label">S'inscrire a la newsletter</label>
                  <input class="form-control form-control-sm " type="text" id="mail" placeholder="Email">
                  <div class="invalid-feedback">Veuillez entrer une adresse e-mail valide.</div>
                </div>
                <div class="col-md-5">
                  <button id="myButton" class="btn form-contro text-white fw-bold" appBgColorOrangeguindiko >S'inscrire</button>
                </div>
              </form>
            </div>
      </div>
  </div>
<!-- </div> -->
<!-- Footer End -->
