<app-header></app-header>
<!-- Page Content -->
<div id="baniere">
  <!-- <img src="../../../assets/fullProject/imgServive/Standard quality control concept m.png" alt="" id="baniere"> -->
</div>
<div class="container" id="">
  <div class="entete">
    <div id="divTitre">
      <h1 id="titre">Nos services</h1>
      <div id="souligneTitre"></div>
    </div>
    <div class="main-search-input-wrap" >
      <div class="main-search-input fl-wrap" id="totalrecherche">
        <div class="main-search-input-item">
          <input type="text"  value="" placeholder="recherche domaine..." [(ngModel)]="filterValue" (input)="onSearch()">
        </div>
        <div >
          <button class="main-search-button" (click)="onSearch()">Rechercher</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container" id="contenudesservice">

  <!-- <div class="row" id="service">
    <!-- Team Member 1 --
    <div class="" *ngFor="let element of domaines">
      <div class="card border-0 ">
        <img [src]="element.imageDomaine" class="card-img-top" id="imagecard" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">{{element.nomDomaine}} </h5>
          <div class="card-text text-black">
            <p> {{element.description}}</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" routerLink="/detaildomaine">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <div class="row" id="service">
    <div class="" *ngFor="let domaine of domaines">
      <div class="card border-0 ">
        <img [src]="domaine.image" class="card-img-top" id="imagecard" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">{{ domaine.nomDomaine }} </h5>
          <div class="card-text text-black">
            <p>{{ domaine.description }}</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" routerLink="/detaildomaine">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>


