<!-- <p>detail-informatique works!</p> -->
<app-header></app-header>


<div class="container">
  <i class="bi bi-arrow-left fa-2xl" id="retour" routerLink="retourService"></i>
  <div>

  </div>
  <div>
    <h1>Mentorat en Gestion et Management</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>Le mentorat en gestion est une profession dédiée à façonner les futurs leaders et à renforcer les compétences en gestion. En tant qu'étudiant aspirant à évoluer dans le monde professionnel, le mentorat en gestion et management représente une opportunité unique de naviguer avec assurance dans les complexités du milieu des affaires. Imaginez avoir à vos côtés un guide expérimenté, prêt à partager son savoir-faire, à dévoiler les nuances de la gestion, et à vous aider à développer les compétences nécessaires pour exceller dans le monde du travail.</p>
    </div>
  </div>
  <div>
    <h1>Le rôle du mentor</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le rôle du mentor consiste à aider le mentoré à mieux se connaître, à développer sa confiance en ses capacités et à se développer professionnellement par le biais des actions concrètes. Il doit :
      </p>
      <ul>
        <li>Comprendre les besoins du mentoré</li>
        <li>L’informer sur les possibilités disponibles</li>
        <li>Le conseiller sur les décisions a prendre</li>
        <li>Lui laisser la liberté de faire ses propres choix</li>
        <li> L’accompagner dans ses projets</li>
        <li>l’assister, le soutenir, l’encourager</li>
        <li>Participer à sa réussite</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Quelques domaines d’activités</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div id="domaines">
          <!-- Team Member 1 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgMan&Ges/humanresources.png" class="card-img-top" id="imagecard" alt="...">
          <div id="placeDetail">
            <span id="titreDetails"> Ressource Humaine</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text  mt-5 text-black">
              <p>Plongez dans le futur avec l'IA, où la création d'algorithmes intelligents ouvre des portes à l'apprentissage automatique. Devenez le créateur de solutions qui anticipent et évoluent.
              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgMan&Ges/manangementit.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">MTI</span>

          </div>
          <div class="card-body  text-center">

            <div class="card-text mt-5 text-black">
              <p>Management des Technologies de l'Information (TI) : Associez la gestion avec la technologie en optant pour le management des TI. Devenez un leader dans l'alignement des systèmes informatiques avec les objectifs organisationnels. </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgMan&Ges/finance.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Gestion Financière</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text mt-5 text-black">
              <p>
                Plongez dans les chiffres et les stratégies financières en optant pour la gestion financière. Devenez un architecte financier, contribuant à la santé financière et à la croissance durable de l'entreprise.
              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>






<app-footer></app-footer>
