
<div class="pagecontainer">
<!-- <p>contact works!</p> -->
<app-header></app-header>
<!-- <div class="container mt-5 ">
  <div class="container" >
      <div class="row text-center "id="entete">
            <div class="col">
              <div class="counter">
                <i class="bi bi-geo-alt-fill fa-2x"></i>
                <h5 class="timer count-title count-number" >Notre siège</h5>
                <p class="count-text ">Fann, Point E Rue 11</p>
              </div>
            </div>
              <div class="col">
                <div class="counter">
                  <i class="bi bi-telephone-fill fa-2x"></i>
                  <h5 class="timer count-title count-number" >Téléphone</h5>
                  <p class="count-text ">77313 80 98</p>
                </div>
              </div>
              <div class="col">
                <div class="counter">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="#000225" d="M19 9h-1V4H8v5h-.78C6.67 8.39 5.89 8 5 8c-1.66 0-3 1.34-3 3v7c0 1.66 1.34 3 3 3c.89 0 1.67-.39 2.22-1H22v-8c0-1.66-1.34-3-3-3zM6 18c0 .55-.45 1-1 1s-1-.45-1-1v-7c0-.55.45-1 1-1s1 .45 1 1v7zm4-12h6v3h-6V6zm10 12H8v-7h11c.55 0 1 .45 1 1v6z"/><circle cx="15" cy="13" r="1" fill="#000225"/><circle cx="18" cy="13" r="1" fill="#000225"/><circle cx="15" cy="16" r="1" fill="#000225"/>
                    <circle cx="18" cy="16" r="1" fill="#000225"/><path fill="#000225" d="M9 12h4v5H9z"/></svg>
                  <h5 class="timer count-title count-number" data-to="157" data-speed="1500"> Fax</h5>
                  <p class="count-text ">33 825 56 67 </p>
                </div>
              </div>
              <div class="col">
                <div class="counter">
                  <i class="bi bi-envelope fa-2x"></i>
                  <h5 class="timer count-title count-number" data-to="157" data-speed="1500">E-mail</h5>
                  <p class="count-text ">guindiko@gmail.com</p>
                </div>
              </div>
      </div>
  </div>
  <div class="container" id="contenueContact">

    <div class="container mt-5" id="cartContact">
      <div class="container" id="contact">
        <div class="container col-8 " id="formulaire">
          <div class="titre mt-5 mb-5" id="titre">
            <h3 id="titrechild">Nous contactez</h3>
          </div>
          <div class="mb-3  text-center">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom d'utilisateur">
          </div>
          <div class="mb-3  text-center">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
          </div>
          <div class="mb-3 ">
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" (click)="verifierChamps">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-5 ">
  <div class="container">
    <div class="row text-center" id="entete">
      <div class="col">
        <div class="counter">
          <i class="bi bi-geo-alt-fill fa-2x"></i>
          <h5 class="timer count-title count-number">Notre siège</h5>
          <p class="count-text">Fann, Point E Rue 11</p>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <i class="bi bi-telephone-fill fa-2x"></i>
          <h5 class="timer count-title count-number">Téléphone</h5>
          <p class="count-text">77313 80 98</p>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
            <path fill="#000225" d="M19 9h-1V4H8v5h-.78C6.67 8.39 5.89 8 5 8c-1.66 0-3 1.34-3 3v7c0 1.66 1.34 3 3 3c.89 0 1.67-.39 2.22-1H22v-8c0-1.66-1.34-3-3-3zM6 18c0 .55-.45 1-1 1s-1-.45-1-1v-7c0-.55.45-1 1-1s1 .45 1 1v7zm4-12h6v3h-6V6zm10 12H8v-7h11c.55 0 1 .45 1 1v6z" />
            <circle cx="15" cy="13" r="1" fill="#000225" />
            <circle cx="18" cy="13" r="1" fill="#000225" />
            <circle cx="15" cy="16" r="1" fill="#000225" />
            <circle cx="18" cy="16" r="1" fill="#000225" />
            <path fill="#000225" d="M9 12h4v5H9z" />
          </svg>
          <h5 class="timer count-title count-number" data-to="157" data-speed="1500"> Fax</h5>
          <p class="count-text">33 825 56 67 </p>
        </div>
      </div>
      <div class="col">
        <div class="counter">
          <i class="bi bi-envelope fa-2x"></i>
          <h5 class="timer count-title count-number" data-to="157" data-speed="1500">E-mail</h5>
          <p class="count-text">guindiko@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="contenueContact">
    <div class="container mt-5" id="cartContact">
      <div class="container" id="contact">
        <div class="container col-8 " id="formulaire">
          <div class="titre mt-5 mb-5" id="titre">
            <h3 id="titrechild">Nous contacter</h3>
          </div>
          <div class="mb-3 text-center">
            <input [(ngModel)]="nomUtilisateur" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom d'utilisateur">
          </div>
          <div class="mb-3 text-center">
            <input [(ngModel)]="email" type="email" class="form-control" id="exampleFormControlInput2" placeholder="E-mail">
          </div>
          <div class="mb-3">
            <textarea [(ngModel)]="message" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Message"></textarea>
          </div>
          <div>
            <button type="button" class="btn" id="boutton" (click)="verifierChamps()">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</div>
