<!-- <p>detail-informatique works!</p> -->
<app-header></app-header>


<div class="container">
  <i class="bi bi-arrow-left fa-2xl" id="retour" routerLink="retourService"></i>
  <div>

  </div>
  <div>
    <h1>Mentorat en Informatique</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>Le mentorat en informatique, c’est bien plus qu’une profession, c’est une passerelle vers l’excellence numérique. En tant que mentor en informatique, vous avez le pouvoir de guider les esprits avides de connaissances à travers le paysage complexe de la technologie, en partageant votre expertise pour les aider à atteindre de nouveaux sommets dans leur carrière et leurs compétences techniques.</p>
    </div>
  </div>
  <div>
    <h1>Le rôle du mentor</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le rôle du mentor consiste à aider le mentoré à mieux se connaître, à développer sa confiance en ses capacités et à se développer professionnellement par le biais des actions concrètes. Il doit :
      </p>
      <ul>
        <li>Comprendre les besoins du mentoré</li>
        <li>L’informer sur les possibilités disponibles</li>
        <li>Le conseiller sur les décisions a prendre</li>
        <li>Lui laisser la liberté de faire ses propres choix</li>
        <li> L’accompagner dans ses projets</li>
        <li>l’assister, le soutenir, l’encourager</li>
        <li>Participer à sa réussite</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Quelques domaines d’activités</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div id="domaines">
          <!-- Team Member 1 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgInformatique/informatik3.png" class="card-img-top" id="imagecard" alt="...">
          <div id="placeDetail">
            <span id="titreDetails">Intelligence artificielle</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text  mt-5 text-black">
              <p> 
                Plongez dans le futur avec l'IA, où la création d'algorithmes intelligents ouvre des portes à l'apprentissage automatique. Devenez le créateur de solutions qui anticipent et évoluent.Que vous soyez intéressé par le développement d'algorithmes, la conception de modèles prédictifs, l'amélioration des capacités de traitement du langage naturel ou d'autres domaines,
              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgInformatique/informatik2.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Cybersécurité</span>

          </div>
          <div class="card-body  text-center">

            <div class="card-text mt-5 text-black">
              <p>La protection des systèmes informatiques contre les menaces vous passionne, la cybersécurité est votre alliée. En devenant un gardien numérique, vous découvrirez les mystères
                de l'analyse de vulnérabilités et la satisfaction de garantir la sécurité informatique. </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgInformatique/informatik1.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Développement logiciel</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text mt-5 text-black">
              <p>Imaginez créer des solutions logicielles novatrices, devenir le maître d'œuvre de programmes qui façonnent le monde numérique. En embrassant le développement logiciel, vous maîtriserez l'art du code, devenant l'architecte des innovations informatiques de demain.
              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>






<app-footer></app-footer>
