<app-header></app-header>
<div class="politique">
<h3 class="text-center mt-5 fs-3">POLITIQUE DE CONFIDENTIALITE DU SITE</h3>
<div class="carreVide mt-4">

</div>

<div class="custom-container">
  <p class="lh-2" text-center>
    Cette politique de confidentialité s’applique au site: <br>
    La présente politique de confidentialité a pour but déexposer  au utilisteurs du site: <br>

    la manière dont sont collectées et traitées leurs données a caractère personnel. Doivent
    etre  considérées commes données personneles toutes les données étant susceptiblees
    d’identifier unutilisateur. Il s’agit notammen du prénom et du nom de l’age de l’adreesse postal
    l’adresse mail lalocalisation de l’utilisateur ou encore son adresse IP. <br> <br>

    Quel sont les droits des utilisateurs concernant ces données; <br>

    Qui responsable du traitement de données à caractère personnel collectées et traité; <br>

    A qui ces données sont transmises; <br>

    Afin d'informer l'utilisateur quel est le sort réservé à ses données, cette politique de
    confidentialité doit contenir plusieurs informations. <br> Tout d'abord, elle doit exposer de quelle
    manière sont collectées et traitées leurs données à caractère personnel, à quelles finalités le
    traitement et la collecte des données répond (c'est-à-dire, pourquoi les données sont collectées
    et traitées). Elle doit, pour chaque traitement, préciser la base légale sur laquelle s'appuie ce
    dernier et la durée de conservation prévue pour les données collectées.Doivent être considérées comme
    données personnelles toutes les données étant susceptibles d'identifier un utilisateur. <br>
    Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail,
    la localisation de l'utilisateur ou encore son adresse IP. <br> <br>
    Cette politique de confidentialité doit énoncer quels sont les droits des utilisateurs concernant
    ces données (par exemple, le droit d'accès aux données, droit à la suppression de ses données...),
    et quelles sont les procédures à suivre afin de mettre en œuvre ces droits. L'utilisateur doit notamment
    être informé de la possibilité qui lui est offerte d'effectuer une réclamation auprès de la CNIL.<br> <br>

    La politique de confidentialité doit également informer l'utilisateur de qui est responsable du
    traitement des données à caractère personnel collectées et traitées. <br>
    Il s'agit de la personne qui est chargée de déterminer les finalités et les moyens mis au service
    du traitement de ces données. Les destinataires ou catégories de destinataires des données personnelles
    collectées doivent être précisés. <br> <br>

    Dans le cas où un Délégué à la Protection des Données a été nommé, il est nécessaire d'indiquer
    son identité directement dans ce document. Le rôle du Délégué à la Protection des Données est de
    s'assurer de la bonne mise en oeuvre des dispositions légales concernant la collecte et le traitement
    des données à caractère personnel (il est parfois appelé "DPO", pour Data Protection Officer). <br> <br>

    Enfin, dans le cas où le site utilise des fichiers "cookies", la politique de confidentialité
    doit préciser quels sont les fichiers "cookies" utilisés. Un "cookie" est un fichier de petite
    taille (moins de 4 ko), stocké par le site sur le disque dur de l'utilisateur, contenant des
    informations relatives aux habitudes de navigation de l'utilisateur. Certains cookies ne peuvent
    être déposés sur le terminal de l'utilisateur qu'après avoir recueilli son consentement. <br> Lorsque
    de tels cookies sont utilisés par le site internet, il convient d'informer l'utilisateur
    sur la manière dont il peut, à tout moment, retirer son consentement au dépôt de cookies.
  </p>
</div>
</div>
<div class="carreVide1">

</div>

<app-footer></app-footer>
