<!-- <p>detail-informatique works!</p> -->
<app-header></app-header>


<div class="container">
  <i class="bi bi-arrow-left fa-2xl" id="retour" routerLink="retourService"></i>
  <div>

  </div>
  <div>
    <h1>Mentorat en Hotellerie</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le mentorat en hôtellerie représente une opportunité exceptionnelle pour vous de développer vos compétences de manière personnalisée dans le vaste univers de l'accueil et de la gestion hôtelière. Ce type de mentorat va au-delà du simple apprentissage technique pour cultiver une expertise holistique, couvrant des compétences spécifiques de l'industrie et des aptitudes transversales cruciales dans le monde professionnel.</p>
    </div>
  </div>
  <div>
    <h1>Le rôle du mentor</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le rôle du mentor consiste à aider le mentoré à mieux se connaître, à développer sa confiance en ses capacités et à se développer professionnellement par le biais des actions concrètes. Il doit :
      </p>
      <ul>
        <li>Comprendre les besoins du mentoré</li>
        <li>L’informer sur les possibilités disponibles</li>
        <li>Le conseiller sur les décisions a prendre</li>
        <li>Lui laisser la liberté de faire ses propres choix</li>
        <li> L’accompagner dans ses projets</li>
        <li>l’assister, le soutenir, l’encourager</li>
        <li>Participer à sa réussite</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Quelques domaines d’activités</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div id="domaines">
          <!-- Team Member 1 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgHotellerie/gestionHotel.png" class="card-img-top" id="imagecard" alt="...">
          <div id="placeDetail">
            <span id="titreDetails">Hébergement et Gestion Hôtelière</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text  mt-5 text-black">
              <p> 
                Plongez dans l'univers captivant de l'hébergement en choisissant la gestion hôtelière. Devenez un expert dans l'art de créer des espaces accueillants, gérant avec précision les opérations pour offrir des séjours inoubliables.
              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgHotellerie/restauration.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Restauration et Service Culinaire</span>

          </div>
          <div class="card-body  text-center">

            <div class="card-text mt-5 text-black">
              <p>Explorez la gastronomie et le service exceptionnel en optant pour la restaurati
                on. Devenez un maître de l'art culinaire, créant des expériences gustatives uni
                ques pour satisfaire les palais exigeants. </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgHotellerie/serviceHotel.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Gestion de la Qualité des Services</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text mt-5 text-black">
              <p>
                Plongez dans l'excellence opérationnelle en choisissant la gestion de la qualité des services. Devenez un perfectionniste, veillant à ce que chaque interaction avec le client soit une expérience exceptionnelle.              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>






<app-footer></app-footer>

