.pagecontainer{
  margin-top: 120px;
}


#bannière{
  height: 60vh;
  width: 100%;
  background-image: url('../../assets/img-apropos/banniere.png');
}

  #banierecarte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: -40px;
   align-items: center;
   margin: 0 auto;
   gap: 30px;

  }

  #infobaniere{
    box-shadow: 0px 4px 8px #E68513;
  }
  #baniercarte{
    box-shadow: 0px 4px 8px #E68513;
  }

  .card {
    background-color: white;
    box-shadow: 1px 4px 10px solid #E68513 ;
  }
  .carte .img card{
   height: 30rem;
  }
  .carte{
   margin: 0 auto;
    align-items: center;
    width: 80%;
    background-color: #00225A;
    border-radius: 20px;
    color: white;

  }

  .carte-slide{
    background-color: white;
    box-shadow: #00225A;
  }
  .info{
    width: 90%;
    margin-bottom: 30px !important;
    align-items: center;

    border: #E68513 2px solid;
    margin: 0 auto;
  }
  span i{
    font-weight: 700;

    color: #E68513;
  }

  @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #100721;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 10px;
    margin: 0 auto;

    > div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #1e0e3e;
      position: relative;
      overflow: hidden;

      &:nth-of-type(1) {
        background: url("https://img.freepik.com/photos-gratuite/jeune-homme-afro-americain-bras-croises-isole_231208-5503.jpg?w=900&t=st=1702047661~exp=1702048261~hmac=0f542f50336a125876c9f0e6b313eeab8ce9dd9f17375f6aa20b398f9431153d")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("https://img.freepik.com/photos-gratuite/femme-souriante-coup-moyen-hijab_23-2149122755.jpg?w=740&t=st=1702049921~exp=1702050521~hmac=c1b8825a9a93418736108db6e262ffafe3248b781a07573446c571745aad4cbc ")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("https://img.freepik.com/photos-gratuite/tour-taille-entrepreneur-masculin-joyeux-confiant-large-sourire_273609-18909.jpg?t=st=1702049524~exp=1702050124~hmac=3514aea284b0fcb3567a9714010bbc56f4dbc7eac8cc11f39d6b085f6b032a58")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("https://img.freepik.com/photos-gratuite/concept-reussite-professionnelle-executive-femme-affaires_53876-137644.jpg?t=st=1702049723~exp=1702050323~hmac=308af217ea36f00044222965ab539bd936e592084a49f43fc5d3a682252d7c5a")
          no-repeat 50% / cover;
      }
      &:nth-of-type(5) {
        background: url("https://img.freepik.com/photos-premium/savez-vous-que-j-aime-chez-vous-votre-sourire-photo-belle-jeune-femme-souriante-tout-posant-fond-gris_590464-43411.jpg?w=900")
          no-repeat 50% / cover;
      }
      &:nth-of-type(6) {
        background: url("https://as1.ftcdn.net/v2/jpg/06/24/03/12/1000_F_624031219_7uvSFbSj8B9hOivuGJyMeoZ51MTWw5h4.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(7) {
        background: url("https://img.freepik.com/photos-gratuite/fille-noire-elegante_1157-15553.jpg?w=900&t=st=1702049791~exp=1702050391~hmac=8a43cfd591728dd169c92f4e7ef22400e568280fbbff256a1874d130b5df6af4")
          no-repeat 50% / cover;
      }
      &:nth-of-type(8) {
        background: url("https://img.freepik.com/photos-gratuite/tete-belle-femme-musulmane-religieuse-satisfaite-doux-sourire-peau-sombre-saine-porte-foulard-tete-isole-fond-blanc_1157-48214.jpg?w=900&t=st=1702049890~exp=1702050490~hmac=af514f7b49146c6f520726f786dda619ee359b3984ec6bb36ad1bcb040a818e8 ")
          no-repeat 50% / cover;
      }


      .content {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        margin-bottom: 30px;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(2, 2, 46, 0.6755077030812324) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;

        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }

      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px #7645d8;
        transform: translatey(-30px);
      }

      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }

@media screen and (max-width: 1238px){

  #banierecarte{
   display: flex;
   flex-direction: column;

  }
  .info {
    display: flex;
    flex-direction: column;

  }
  .carte {
    display: flex;
    flex-direction: column;
    margin-bottom: 70%;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 80%;
  }
  .fw-bold{
    margin-bottom: 100%;
  }

}
