<app-header></app-header>
<div class="pagecontainer">
<div id="bannière">
</div>
<div class="mere">
  <div class="card-text d-flex w-75 " id="banierecarte">
    <div class="col-md-4" id="infobaniere">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3" >
          <div class="d-flex gap-3 ">
            <div>
              <span class=""><i class="bi bi-bullseye"></i></span>
            </div>
            <div><strong>Objectif</strong></div>
          </div>
        </div>
        <h6>
          Notre objectif est de faciliter l’orientation des personnes en
          recherche d’emploi,
          découvrir leur passion, fournir des informations précises
          sur les différents secteurs d'activité.Guindiko vise à devenir la principal
           destination en ligne ou les mentors, les élèves, les étudiants,
          les personnes en reconversion et les professionnelle se rencontre pour
          s’entraider dans le milieu.
          professionnel.
        </h6>
      </div>
    </div>

    <div class="col-md-4" >
      <div class="card p-3"  id="baniercarte">
        <div class="d-flex flex-row mb-3" >
          <div class="d-flex gap-3 ">
            <div>
              <span class=""><i class="fa-solid fa-arrow-up-right-dots "></i></span>
            </div>
            <div><strong>Résultats attendus</strong></div>
          </div>
        </div>
        <h6>
          Notre mission est claire: Que les personnes puissent trouver et faire
          un bon choix.Éviter à 10% de la population la perte de
          temps dans la recherche d’emploi et de formation.Pousser les personnes vers les
          métiers qui leur correspondent en leur fournissant des informations
          concernant les métiers.Réduire le taux d’abandon scolaire à 5%
          Facilitez la mise en relation entre les mentors et les demandeurs.
        </h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3"  id="baniercarte">
        <div class="d-flex flex-row mb-3">
          <div class="d-flex gap-3">
            <div><span><i class="bi bi-bullseye"></i></span></div>
            <div><strong>Cible</strong ></div>
          </div>
        </div>
        <h6>
          Guidiko rassemble quatres principaux d’utilisateurs:les élèves, les
          etudiants, les personnes en recon-version professionnelle et les
          jeune professsion-elle en quête d'une meilleure adéquation entre leurs
          compétences et leurs choix de carrière professionnel. Aider tous les adhérents à
          découvrir leurs passions et leurs centres d'intérêt en lien avec les
          différentes opportunités professionnelles.

        </h6>
      </div>
    </div>
  </div>

  <div class="carte d-flex justify-content-center border-3 h-25">
    <div class="img card">
      <img
        src="../../assets/img-apropos/1000_F_621273253_Yug2UU6YbN0CKbD1q1E1FFVjIF1idYtD 1.png"
        class="img-fluid rounded-start h-75"
        alt="..."
      />
    </div>

    <div class="card-body col-md-4 h-50 " >
      <h5 class="card-title mb-3 text-center fs-5">Présentations</h5>
      <p class="card-text px-3">
        Guindiko est née de la vision d’un groupe de passionnés convaincus que
        chaque élève, étudiant, personne a reconversion mérite une chance d’être
        accompagner, et que chaque mentor mérite l’opportunité de voir son rêve
        se concrétiser. Guindiko est une plateforme innovante qui met en
        relation les mentors et les demandeur de satisfaire leurs besoin dans le
        but de réussir leur orientation. Guidiko rassemble quatres principaux
        d’utilisateurs:les élèves, les etudiants, les personnes en
        recon-version professionnelle et les jeune professsionelle en quête
        d'une meilleure adéquation entre leurs compétences et leurs choix de
        carrière. Ces derniers ont pour but de faciliter l’inter-action entre
        les mentors en les personnes en quete de réorientations.
      </p>
    </div>
  </div>
  <h4 class="fw-bold text-center my-5">Teams</h4>

  <div class="container">
    <div>
      <div class="content">
        <h2>Amadem Fall</h2>
        <span>Developeur Frontend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Khadiatou Dieye</h2>
        <span>Developeuse backend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Seydou Diallo</h2>
        <span>Developeur backend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Marie Laure Coly</h2>
        <span>Developeuse Frontend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Véronique Diatta</h2>
        <span>Developeuse Frontend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Mouhamed Faye</h2>
        <span>Developeur backend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Astou Diouf</h2>
        <span>Developeuse Frontend</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Ndiéye Ngom</h2>
        <span>Developeuse Backend</span>
      </div>
    </div>
  </div>


  <div><h4 class="fw-bold text-center my-5">Ce que nous proposons</h4></div>
  <div class="info d-flex">
    <div class="text-info fs-5 text-black m-lg-3 mt-5">
      <p>Chez Guindiko nous mettons a votre dispositions conviviale et sécuriser qui offre <br>
        une variété de fonctionnalité  essentielle: </p>
      <strong>Rencontres Personnalisées:</strong>
      <p><span><i class="bi bi-check"></i></span>Nous facilitons la mise en relation entre les mentors et les  demandeurs de<br>
        d’accompagnement.
      </p>
      <strong>Transparence et sécurité:</strong>
      <p><span class="color"><i class="bi bi-check"></i></span>
      Nous nous engageons à garantir la transparence et la sécurité des échanges sur la plateforme.
      </p>
    </div>
    <div><img src="../../assets/img-apropos/ffemme-afro-americaine-noire 1.png" alt=""></div>
  </div>
</div>
</div>
<app-footer></app-footer>
