<!-- <p>detail-informatique works!</p> -->
<app-header></app-header>


<div class="container">
  <i class="bi bi-arrow-left fa-2xl" id="retour" routerLink="retourService"></i>
  <div>

  </div>
  <div>
    <h1>Mentorat en Science</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le mentorat en sciences est une aventure passionnante vers la découverte, l’apprentissage et l’innovation. En tant que mentor en sciences, vous avez le privilège de guider des esprits curieux et avides de comprendre les mystères de l’univers, en partageant votre expertise pour les inspirer à explorer, à questionner et à développer leur passion pour les sciences.</p>
    </div>
  </div>
  <div>
    <h1>Le rôle du mentor</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le rôle du mentor consiste à aider le mentoré à mieux se connaître, à développer sa confiance en ses capacités et à se développer professionnellement par le biais des actions concrètes. Il doit :
      </p>
      <ul>
        <li>Comprendre les besoins du mentoré</li>
        <li>L’informer sur les possibilités disponibles</li>
        <li>Le conseiller sur les décisions a prendre</li>
        <li>Lui laisser la liberté de faire ses propres choix</li>
        <li> L’accompagner dans ses projets</li>
        <li>l’assister, le soutenir, l’encourager</li>
        <li>Participer à sa réussite</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Quelques domaines d’activités</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div id="domaines">
          <!-- Team Member 1 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgSciences/chimie.png" class="card-img-top" id="imagecard" alt="...">
          <div id="placeDetail">
            <span id="titreDetails">CHIMIE</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text  mt-5 text-black">
              <p> 
                Plongez dans le monde des réactions moléculaires et de la composition de la matière en choisissant la chimie. Devenez un architecte de nouvelles molécules, contribuant ainsi à des innovations dans des domaines tels que la pharmacie, la recherche médicale et la chimie industrielle.              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgSciences/biologie.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Biologie</span>

          </div>
          <div class="card-body  text-center">

            <div class="card-text mt-5 text-black">
              <p>
                Explorez le monde vivant en optant pour la biologie. En devenant un biologiste, vous pourriez contribuer à la compréhension de la diversité du vivant, à la conservation de la nature ou à des avancées dans le domaine de la génétique. </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgSciences/Biotechnology.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Bio-informatique</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text mt-5 text-black">
              <p>
                Associez la biologie et l'informatique en optant pour la bioinformatique. Devenez un expert dans l'analyse de données biologiques, contribuant ainsi à des avancées en génomique et en médecine personnalisée              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>






<app-footer></app-footer>

