<!-- <p>detail-informatique works!</p> -->
<app-header></app-header>


<div class="custom-container" id="detail">
  <a href="" routerLink="retourService">
    <i class="bi bi-arrow-left fa-2xl" id="retour" ></i>
  </a>
  <div>

  </div>
  <div>
    <h1>Mentorat en Technique</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>Le mentorat en technique est une opportunité de partager une expertise technique précieuse avec ceux qui cherchent à maîtriser les aspects pratiques et les compétences essentielles de divers domaines techniques. En tant qu'étudiant passionné par le monde technique, le mentorat en technique s'offre à toi comme une opportunité exceptionnelle. C'est une chance de bénéficier de l'expérience et de l'expertise d'un mentor, un guide qui t'aidera à maîtriser les aspects pratiques et à développer les compétences fondamentales nécessaires dans le vaste domaine technique.</p>
    </div>
  </div>
  <div>
    <h1>Le rôle du mentor</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le rôle du mentor consiste à aider le mentoré à mieux se connaître, à développer sa confiance en ses capacités et à se développer professionnellement par le biais des actions concrètes. Il doit :
      </p>
      <ul>
        <li>Comprendre les besoins du mentoré</li>
        <li>L’informer sur les possibilités disponibles</li>
        <li>Le conseiller sur les décisions a prendre</li>
        <li>Lui laisser la liberté de faire ses propres choix</li>
        <li> L’accompagner dans ses projets</li>
        <li>l’assister, le soutenir, l’encourager</li>
        <li>Participer à sa réussite</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Quelques domaines d’activités</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div id="domaines">
          <!-- Team Member 1 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgTechnique/electric.png" class="card-img-top" id="imagecard" alt="...">
          <div id="placeDetail">
            <span id="titreDetails">Ingénierie Électrique </span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text  mt-5 text-black">
              <p> 
                Plongez dans le monde de l'électricité et de l'électronique en choisissant l'ingénierie électrique. Devenez un architecte de systèmes électriques, contribuant à la conception de circuits et de dispositifs électroniques.

              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgTechnique/mecanic.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Ingénierie Mécanique</span>
          </div>
          <div class="card-body  text-center">

            <div class="card-text mt-5 text-black">
              <p>Explorez le domaine de la mécanique en optant pour l'ingénierie mécanique. Devenez un innovateur dans la conception de machines, de moteurs et de systèmes mécaniques. </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgTechnique/geniCivil.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Développement logiciel</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text mt-5 text-black">
              <p>
                Façonnez le monde qui vous entoure en choisissant le génie civil. Devenez un constructeur d'infrastructures, contribuant à la conception et à la gestion de projets de construction.

              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>






<app-footer></app-footer>
