<!-- <p>detail-informatique works!</p> -->
<app-header></app-header>


<div class="container">
  <i class="bi bi-arrow-left fa-2xl" id="retour" routerLink="retourService"></i>
  <div>

  </div>
  <div>
    <h1>Mentorat en Art</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>Le mentorat en art est une forme d’accompagnement artistique qui transcende les techniques et les médiums. En tant que mentor en art, vous avez le pouvoir de guider des artistes en herbe, des créateurs et des passionnés d’art dans leur voyage de découverte artistique, en partageant votre expertise pour les aider à développer leur style, à affiner leurs compétences et à exprimer leur créativité de manière unique.</p>
    </div>
  </div>
  <div>
    <h1>Le rôle du mentor</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div>
      <p>
        Le rôle du mentor consiste à aider le mentoré à mieux se connaître, à développer sa confiance en ses capacités et à se développer professionnellement par le biais des actions concrètes. Il doit :
      </p>
      <ul>
        <li>Comprendre les besoins du mentoré</li>
        <li>L’informer sur les possibilités disponibles</li>
        <li>Le conseiller sur les décisions a prendre</li>
        <li>Lui laisser la liberté de faire ses propres choix</li>
        <li> L’accompagner dans ses projets</li>
        <li>l’assister, le soutenir, l’encourager</li>
        <li>Participer à sa réussite</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Quelques domaines d’activités</h1>
    <div class="soulignement"></div>
    <div class="pointSoulignement"></div>
    <div id="domaines">
          <!-- Team Member 1 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgArt/photographe.png" class="card-img-top" id="imagecard" alt="...">
          <div id="placeDetail">
            <span id="titreDetails">Arts Visuels</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text  mt-5 text-black">
              <p> Explorez le pouvoir de la création visuelle en optant pour les arts visuels. Que ce soit à travers la photographie, la vidéo, ou la création graphique, devenez un narrateur visuel qui communique des histoires captivantes.
              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgArt/mode.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Mode et Design Textile </span>

          </div>
          <div class="card-body  text-center">

            <div class="card-text mt-5 text-black">
              <p>Explorez le mariage de l'art et de la fonctionnalité en optant pour la mode et le design textile. Devenez un créateur de tendances, façonnant des vêtements et des tissus qui reflètent la personnalité et le style. </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="carte">
        <div class="card border-0 ">
          <img src="../../../assets/fullProject/imgArt/designInterne.png" class="card-img-top" alt="..." id="imagecard">
          <div id="placeDetail">
            <span id="titreDetails">Design d'Intérieur</span>

          </div>
          <div class="card-body  text-center">
             <div class="card-text mt-5 text-black">
              <p>
                Plongez dans l'art de créer des espaces fonctionnels et esthétiques en choisissant le design d'intérieur. Devenez un architecte d'intérieurs, transformant des espaces en environnements inspirants.              </p>
            </div>
            <div>
              <button type="button" class="btn " id="boutton">Trouver un mentor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>






<app-footer></app-footer>

